#SetEnv CI_URL http://192.168.1.10:8080/bingomvc/
SetEnv CI_URL http://localhost:8080/bingomvc/ 
SetEnv CI_ENV development
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

